@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

        body {
            padding: 20px;
            background:rgba(241, 237, 135, 1);
	        font-family: "Roboto", sans-serif;
            padding: 24px ;
        }

        h2{
            text-align: center;
            font-weight: bold;
        }

        h4{
            margin-top: 20px;
        }

        .table-container {
            margin-top: 20px;
        }

        /* CSS untuk tombol posisi pojok kanan dan berwarna hijau */
        .btn-green {
            float: right;
            background-color: #165E60;
            color: #fff;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .btn-lgreen {
            float: right;
            background-color: #71a2a3;
            color: #181818;
        }

        /* CSS untuk mengatur ukuran foto produk */
        .img-thumbnail {
            max-width: 100px; /* Atur lebar maksimum foto produk */
            max-height: 100px; /* Atur tinggi maksimum foto produk */
            width: auto; /* Biarkan lebar disesuaikan agar aspek ratio tetap terjaga */
            height: auto; /* Biarkan tinggi disesuaikan agar aspek ratio tetap terjaga */
        }

        /* CSS untuk memberikan warna pink pada tabel detail produk */
        .table-detail-produk {
            background-color: pink;
        }

        /* CSS untuk memberikan warna pink pada baris ganjil */
        .table-detail-produk tbody tr:nth-child(odd) {
            background-color: lightpink;
        }

        /* CSS untuk memberikan warna pink pada baris genap */
        .table-detail-produk tbody tr:nth-child(even) {
            background-color: pink;
        }

        .rincian {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .rincian label {
            flex: 1;
            text-align: left;
        }

        .rincian span {
            flex: 1;
            text-align: right;
            font-weight: bold;
            vertical-align: middle;
        }
